/SmartCare CW/SmartCareApp/nbproject/private/
SmartCare CW/SmartCareApp/build/web/WEB-INF/lib/derby-10.15.2.0.jar
SmartCare CW/SmartCareApp/build/web/WEB-INF/lib/derbyshared-10.15.2.0.jar
SmartCare CW/SmartCareApp/build/web/WEB-INF/lib/mysql-connector-java-8.0.22.jar
/SmartCare CW/SmartCareApp/dist/