<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Reg_Controller</servlet-name>
        <servlet-class>Login.Reg_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Patient_Servlet</servlet-name>
        <servlet-class>Admin_Function.View_Patient_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adding_Employee_Servlet</servlet-name>
        <servlet-class>Admin_Function.Adding_Employee_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_Controller</servlet-name>
        <url-pattern>/Reg_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Patient_Servlet</servlet-name>
        <url-pattern>/View_Patient_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adding_Employee_Servlet</servlet-name>
        <url-pattern>/Adding_Employee_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
